{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}<title>Account Book</title>
	<link rel="icon" href="{% static 'img/icons8-star-filled-50.png' %}">{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- Add additional CSS in static file --->
	<link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}" />

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			{% block sidebar %}
			<!-- Heading -->
			<li class="nav-item">
				<div class="sidebar-heading">
					<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
						<div class="sidebar-brand-icon rotate-n-15">
							<i class="fas fa-anchor"></i>
						</div>
						<div class="sidebar-brand-text mx-3"><span>Go SeungSeung!</span></div>
					</a>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Heading -->
			<div class="sidebar-heading">
				Management
			</div>

			<!-- Nav Item - Expense Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-shopping-cart"></i>
					<span>지출</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">추가, 삭제 및 수정:</h6>
						<a class="collapse-item" href="{% url 'expenses' %}">전체내역</a>
						<a class="collapse-item" href="{% url 'expense-create' %}">항목추가</a>
					</div>
				</div>
			</li>

			<!-- Nav Item - File Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities">
					<i class="fas fa-file-excel"></i>
					<span>파일</span>
				</a>
				<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">내역 넣기, 빼기:</h6>
						<a class="collapse-item" href="{% url 'import-data' %}">파일에서넣기</a>
						<a class="collapse-item" href="{% url 'import-data' %}">파일로빼기</a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				Graphical View
			</div>

			<!-- Nav Item - Bar Chart and Table -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'dashboard' %}">
					<i class="fas fa-chart-bar"></i>
					<span>막대 차트</span></a>
			</li>

			<!-- Nav Item - Tables with filters -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'filter' %}">
					<i class="fas fa-filter"></i>
					<span>필터 추가 검색</span></a>
			</li>

			<!-- Nav Item - Currency -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'currency' %}">
					<!-- <i class="fas fa-fw fa-table"></i> -->
					<i class="fas fa-euro-sign"></i>
					<span>환율</span></a>
			</li>

			{% if user.is_authenticated %}
			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				User: {{ user.get_username }}
			</div>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">
					<i class="fas fa-check-circle"></i>
					<span>Logout</span></a>
			</li>
			{% else %}
			<div class="sidebar-heading">
				You're a Guest
			</div>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login'%}?next={{request.path}}">
					<i class="fas fa-running"></i>
					<span>Login</span></a>
			</li>
			{% endif %}

			{% endblock %}

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-1" id="sidebarToggle"></button>
			</div>
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					You have visited this page {{num_visits}}{% if num_visites == 1 %} time{% else %} times{% endif %}.
					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">
						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-gray-600 ">{% if user.is_authenticated %}{{
									user.get_username }}{% else %}Hello, Guest{% endif %}</span>
							</a>
						</li>

					</ul>
				</nav>
				<!-- End of Topbar -->

				<!-- Page Content -->
				<div class="container-fluid">
					{% block content %}
					{% endblock %}
					{% block pagination %}
					{% if is_paginated %}
					<div class="pagination">
						<span class="page-links">
							{% if page_obj.has_previous %}
							<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
							{% endif %}
							<span class="page-current">
								Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							</span>
							{% if page_obj.has_next %}
							<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
							{% endif %}
						</span>
					</div>
					{% endif %}
					{% endblock %}
				</div>
				<!-- End of Page Content -->
			</div>
			<!-- End of Main Content -->
		</div>
		<!-- End of Content Wrapper -->

	</div>
	<script src="{% static 'js/sb-admin-2.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/cd99b04d92.js" crossorigin="anonymous"></script>
</body>

</html>