{% extends "base_template.html" %}

{% block content %}
<h1>Account Book Home</h1>
<p>Welcome to the AccoutBook developed by <em>SeungSeungPapa</em> !!</p>
<!-- <h2>Dynamic Design</h2> -->
<p>It shows the following record counts:</p>
<ul>
	<li><strong>Expenses:</strong> {{ num_expense }}</li>
	<li><strong>Payments:</strong> {{ num_ways }}</li>
	<li><strong>Sectors for expenses:</strong> {{ num_sectors }}</li>
</ul>

<p> You have visited this page {{num_visits}}{% if num_visites == 1 %} time{% else %} times{% endif %}.</p>

<!-- Content Row -->
<div class="row">

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Spending (Monthly)</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">€{{ monthly_spending|floatformat:2 }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Spending (Annual)</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">€{{ annual_spending|floatformat:2 }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">등록건수 (Monthly)</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ monthly_expense_count }} 건</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}